<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><meta http-equiv=X-UA-Compatible content="IE-edge,chrome=1"><title>热轧参数分析系统</title><link href=/static/css/app.eff18ced8096373019feba88e58f3649.css rel=stylesheet></head><body data-spy=scroll data-target=#myScrollspy><div id=app></div><script type=text/javascript src=/static/js/manifest.0c1cd46d93b12dcd0191.js></script><script type=text/javascript src=/static/js/vendor.72fdb5ea61015213272e.js></script><script type=text/javascript src=/static/js/app.9a08baa5be2198d638f5.js></script><script type=text/javascript src=/static/js/babel-polyfill.937ccc66b9246f10de33.js></script></body></html><style type=text/css>body {
  top: 0;
  margin:0;
  padding: 0;
}

.el-header {
  padding: 0 0px;
}</style>